body{
  margin: 0;
}
nav{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  padding: 10px;
}

nav a{
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

nav a:hover{
  border-bottom: 4px solid pink;
}

.post{
  text-align: left;
  margin: 15px 10%;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 7px;
}

.post:hover{
  /* border-color: pink; */
  /* background-color: pink; */
  box-shadow: 7px 7px pink;
}

.home{
  text-align: center;
}

.home h1{
  /* color: pink; */
  text-shadow: 1px 1px 5px pink;
}
